@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');


.body {
    background-color: #0F0F0F; /* Цвет фона для темной темы */
    margin-left: 3vw;
    margin-right: 3vw;
    margin-top: 6.5vw;
    margin-bottom: 12vw;
    padding: 0;
    box-sizing: border-box;
}


/* Темная тема */
body.dark-theme {
    background-color: #0F0F0F; /* Цвет фона для темной темы */
    margin-left: 3vw;
    margin-right: 3vw;
    margin-top: 6.5vw;
    margin-bottom: 12vw;
    padding: 0;
    box-sizing: border-box;
}

body.dark-theme .username-name {
    color: #f0f0f0; /* Цвет имени пользователя */
}

body.dark-theme .username-status {
    color: #a1a1a1; /* Цвет статуса пользователя */
}

body.dark-theme .balance-bar {
    background-color: #212121; /* Цвет фона для панели баланса */
}

body.dark-theme .user-balance {
    color: #a1a1a1; /* Цвет баланса */
}

body.dark-theme .replenish-plus {
    background-color: #212121; /* Цвет фона для кнопки пополнения */
}






/* Светлая тема */
body.light-theme {
    background-color: #F0F0F0; /* Цвет фона для светлой темы */
    margin-left: 3vw;
    margin-right: 3vw;
    margin-top: 6.5vw;
    margin-bottom: 12vw;
    padding: 0;
    box-sizing: border-box;
}

body.light-theme .username-name {
    color: #222222; /* Цвет имени пользователя */
}

body.light-theme .username-status {
    color: #8A8B8F; /* Цвет статуса пользователя */
}

body.light-theme .balance-bar {
    background-color: #FFFFFF; /* Цвет фона для панели баланса */
}

body.light-theme .user-balance {
    color: #8A8B8F; /* Цвет баланса */
}

body.light-theme .replenish-plus {
    background-color: #FFFFFF; /* Цвет фона для кнопки пополнения */
}









/* Общие стили для элементов */
.user-header {
    height: 9vw;
    width: 100%;
    align-items: center;
    display: flex;
    position: relative;
}

.user-img-cont {
    height: 9vw;
    aspect-ratio: 1 / 1;
    background-color: #212121;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.username-cont {
    height: 8.5vw;
    width: 100%;
    left: 2vw;
    position: relative;
    display: grid;
    gap: 0.3vw;
    align-items: center;
}

.username-name {
    font-size: 3.66vw;
    font-family: 'Roboto';
    font-weight: 500;
    position: relative;
    top: 0.1vw;
}

.username-status {
    font-size: 3.33vw;
    font-family: 'Roboto';
    font-weight: 500;
    position: relative;
}

.balance-bar {
    aspect-ratio: 290 / 84;
    height: 7vw;
    border-radius: 10vw;
    position: relative;
    align-items: center;
    display: flex;
    right: 3vw;
}

.tether-purple {
    aspect-ratio: 1 / 1;
    height: 6vw;
    left: 0.6vw;
    position: absolute;
}

.user-balance-cont {
    width: 14.59vw;
    height: 5vw;
    right: 2.25vw;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-balance {
    font-family: 'Roboto';
    font-size: 4vw;
    font-weight: 500;
}

.replenish-plus {
    height: 7.5vw;
    aspect-ratio: 1 / 1;
    border-radius: 100%;
    right: 0%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.replenish-plus-svg {
    aspect-ratio: 1 / 1;
    height: 3.3vw;
    position: relative;
}




/*                                                 */
/*                    GAME THINGS                  */
/*                                                 */



.ad-cont {
    width: 94vw;
    aspect-ratio: 113 / 63;
    position: absolute;
    top: 23.33vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ad {
    aspect-ratio: 113 / 63;
    width: 100%;
    position: relative;
}

.our-games-cont {
    width: 94vw;
    aspect-ratio: 113 / 10;
    position: absolute;
    top: 87.5vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.our-games {
    aspect-ratio: 113 / 10;
    width: 100%;
    position: relative;
}

.double-game-cont {
    width: 94vw;
    aspect-ratio: 113 / 71;
    position: absolute;
    top: 101.25vw;
}

.game-cont {
    height: 100%;
    aspect-ratio: 55 / 71;
    display: flex;
    position: absolute;
}

.game-cont.first {
    left: 0%;
}

.game-cont.second {
    right: 0%;
    justify-content: center;
}

.game {
    width: 100%;
    aspect-ratio: 55 / 71;
}

.darts {
    position: absolute;
    aspect-ratio: 1 / 1;
    left: 6vw;
    top: 10vw;
    height: 35.83vw;
}

.dice {
    aspect-ratio: 1 / 1;
    height: 42.916vw;
    position: absolute;
}

.online-players-cont {
    width: auto;
    height: auto;
    bottom: 5.4vw;
    left: 50%;
    transform: translateX(-55%);
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5vw;
}

.players {
    aspect-ratio: 1 / 1;
    height: 2.66vw;
    position: relative;
}

.players-amount {
    font-family: 'Roboto';
    font-size: 2.2525vw;
    font-weight: 500;
    position: relative;
}

.players-amount::after {
    content: " players";
}

.slot-cont {
    width: 94vw;
    aspect-ratio: 1130 / 505;
    position: absolute;
    top: 164.58vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slot {
    aspect-ratio: 1130 / 505;
    width: 100%;
    position: relative;
}




/*                                                 */
/*                    LAST GAMES                   */
/*                                                 */

.last-games-panel-cont {
    width: 94vw;
    aspect-ratio: 113 / 10;
    position: absolute;
    top: 210.41vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.last-games-panel {
    aspect-ratio: 113 / 10;
    width: 100%;
    position: relative;
}





/*                                                    */
/*                     SUPPLEMENTARY                  */
/*                                                    */


.supplementary {
    width: 94vw;
    position: absolute;
    top: 283vw;
    display: grid;
    gap: 2vw;
}

.supplementary-panel-cont {
    width: 100%;
    aspect-ratio: 113 / 9;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.supplementary-panel {
    aspect-ratio: 113 / 9;
    width: 100%;
    position: relative;
}
